---
- name: Deploy static website container
  hosts: all
  become: yes
  tasks:
    - name: Stop old container if running
      shell: docker stop aj-static-site || true

    - name: Remove old container if exists
      shell: docker rm aj-static-site || true

    - name: Load new image from tar
      shell: docker load -i /home/ubuntu/static-web.tar

    - name: Run new container
      shell: docker run -d -p 80:80 --name aj-static-site aj-static-site:latest

    - name: Clean up unused Docker resources
      shell: docker system prune -f
